# Find Possible Colleges based on JEE Mains/Advance Rank in INDIA

In [1]:
# importing required libraries

import pandas as pd
import os

PATH=os.getcwd()
print(PATH)

C:\Users\gaurav\Downloads\josaa-scrape-master\josaa-scrape-master

In [2]:
print("Available Year and Round Data: ")

!ls ./data/

Available Year and Round Data:
2016-1.csv
2016-2.csv
2016-3.csv
2016-4.csv
2016-5.csv
2016-6.csv
2017-1.csv
2017-2.csv
2017-3.csv
2017-4.csv
2017-5.csv
2017-6.csv
2017-7.csv
2018-1.csv
2018-2.csv
2018-3.csv
2018-4.csv
2018-5.csv
2018-6.csv
2018-7.csv
2019-1.csv
2019-2.csv
2019-3.csv
2019-4.csv
2019-5.csv
2019-6.csv
2019-7.csv
2020-1.csv
2020-2.csv
2020-3.csv
2020-4.csv
2020-5.csv
2020-6.csv

In [3]:
# change file name to be worked on
# based on year and round on which you want to find data

data = pd.read_csv("./data/2020-6.csv")
print("Number of Colleges and branch combination in this Year+Round : ", data.shape[0], "\n")

# print( data.info() )


print("5 entries from the top of data: ")
data.head()

Number of Colleges and branch combination in this Year+Round :  8990

5 entries from the top of data:

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank,Year,Round
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,8816,11238,2020,6
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),13312,15697,2020,6
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN (PwD),Gender-Neutral,254P,254P,2020,6
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1579,1779,2020,6
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),2655,2819,2020,6

In [4]:
# Change category
# OPEN/OPEN (PwD)/GEN-EWS/GEN-EWS (PwD)/OBC-NCL/OBC-NCL (PwD)/SC/SC (PwD)/ST/ST (PwD)
df = data[ data['Seat Type'] == "EWS" ]

# Change gender seat choice
# Gender-Neutral/Female-only (including Supernumerary)
df = df[df['Gender']=="Gender-Neutral"]


# for finding IITs only uncomment only 2
# for finding NITs only uncomment only 3
# for finding other than IITs and NITs uncomment 1&4 comment 2&3

df = df[~df.Institute.str.contains("Indian Institute of Technology")]    # by default for colleges based on JEE Mains  
# df = df[df.Institute.str.contains("Indian Institute of Technology")]    
# df = df[df.Institute.str.contains("National Institute of Technology")]  
# df = df[~df.Institute.str.contains("National Institute of Technology")] 


print("Number of Colleges after this filtering: ", df.shape[0], "\n")

# print(df.info())

print("5 entries from the top of data: ")
df.head()

Number of Colleges after this filtering:  609

5 entries from the top of data:

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank,Year,Round
2656,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",HS,EWS,Gender-Neutral,17053,20551,2020,6
2665,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",OS,EWS,Gender-Neutral,7406,7517,2020,6
2674,Dr. B R Ambedkar National Institute of Technol...,"Chemical Engineering (4 Years, Bachelor of Tec...",HS,EWS,Gender-Neutral,10660,13730,2020,6
2683,Dr. B R Ambedkar National Institute of Technol...,"Chemical Engineering (4 Years, Bachelor of Tec...",OS,EWS,Gender-Neutral,6168,6413,2020,6
2694,Dr. B R Ambedkar National Institute of Technol...,"Civil Engineering (4 Years, Bachelor of Techno...",HS,EWS,Gender-Neutral,11791,13430,2020,6

In [5]:
# # add line if want to add additional filter
# HS/OS/GO/LA/AI and others if any
# to not include add by using "!=" in seperate lines
# to only see data for that very quota check by using "==", and remove other lines if any

df = df[ df["Quota"]!="HS" ]

print("Number of Colleges after this Filtering: ", df.shape[0])

Number of Colleges after this Filtering:  393

In [6]:
# converting rank from string to int

df['Opening Rank'] = df['Opening Rank'].astype(int)
df['Closing Rank'] = df['Closing Rank'].astype(int)

print("Maximum closing rank scored in this category, gender, HS/OS group as selected above:", end=" ")
print(df["Closing Rank"].max())

Maximum closing rank scored in this category, gender, HS/OS group as selected above: 54295

In [7]:
# change closing rank rank

min_Closing_Rank = 5000
max_Closing_Rank = 10000

possibleCLG = df[df['Closing Rank'] >= min_Closing_Rank ]       
possibleCLG = possibleCLG[possibleCLG['Closing Rank'] <= max_Closing_Rank ]


# if you want to sort the colleges(descending order) based on closing rank uncomment line ending with to sort
# if want to sort in ascending order uncomment ane change "ascending = True"

# possibleCLG.sort_values(by = 'Closing Rank', ascending = False)   # to sort


print("Number of Colleges after this Filtering: ", df.shape[0])

print("5 entries from the top of data: ")
possibleCLG.head()

Number of Colleges after this Filtering:  393
5 entries from the top of data:

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank,Year,Round
2665,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",OS,EWS,Gender-Neutral,7406,7517,2020,6
2683,Dr. B R Ambedkar National Institute of Technol...,"Chemical Engineering (4 Years, Bachelor of Tec...",OS,EWS,Gender-Neutral,6168,6413,2020,6
2702,Dr. B R Ambedkar National Institute of Technol...,"Civil Engineering (4 Years, Bachelor of Techno...",OS,EWS,Gender-Neutral,5784,5902,2020,6
2790,Dr. B R Ambedkar National Institute of Technol...,Industrial and Production Engineering (4 Years...,OS,EWS,Gender-Neutral,7310,7486,2020,6
2830,Dr. B R Ambedkar National Institute of Technol...,Instrumentation and Control Engineering (4 Yea...,OS,EWS,Gender-Neutral,5724,6361,2020,6

In [8]:
# to see the whole list of data after applying all the filter run this code block
# list will be saved in current working directory
# can be opened with any text editor aur spreadsheet editor

possibleCLG.to_csv("PossibleColleges.csv")
print("File saved to: " + PATH + "\\PossibleColleges.csv")

File saved to: C:\Users\gaurav\Downloads\josaa-scrape-master\josaa-scrape-master\PossibleColleges.csv